<a href="https://colab.research.google.com/github/Kapongz/Bootstrap-test/blob/main/data_preprocessing_tools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preprocessing Tools

# New Section

## Importing the libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [ ]:
dataset = pd.read_excel('/content/sample_data/Data.xlsx')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

# 1. ສະແດງຂໍ້ມູນທັງໝົດໃນຕາຕະລາງ

---

In [ ]:
dataset = pd.read_excel('/content/sample_data/Data.xlsx')
dataset

,No,ID,gender,Name,Surname,ClassName,Attendent,Lecture,Lab
0,1,205N0165.20,ທ້າວ,ອາເລັກ,ຈັນທະວີສຸກ,1CS1,10.0,50.0,30
1,2,205N0190.20,ທ້າວ,ເກດສະດາ,ພັດທະນາສິນ,1CS2,10.0,50.0,40
2,3,205N0377.20,ສນ,ສົມວິກ,ກິດສະລາດ,1CS2,8.0,40.0,10
3,4,205N0378.20,ທ້າວ,ບຸນຊະນະ,ໄຊຍະວົງ,1CS2,7.0,40.0,10
4,5,205N0381.20,ທ້າວ,ທະວີຊັບ,ສຸວົງສາ,1CS2,6.0,39.0,10
5,6,205N0387.20,ສນ,ສີຫາ,ອິນທະວົງ,1CS2,9.0,8.0,40
6,7,205N0389.20,ທ້າວ,ພູຟ້າ,ໄຊຍະລາດ,1CS2,9.0,29.0,30
7,8,205N0392.20,ສນ,ເລື່ອນ,ວັນນະສານ,1CS2,9.0,50.0,40
8,9,205N0393.20,ນາງ,ຕາມົນ,ອິນທະຈັກ,1CS2,9.0,49.0,30
9,10,205N0398.20,ທ້າວ,ແກ້ວວົງເດືອນ,ໄຊຍະສິດ,1CS2,NaN,NaN,40
10,11,205N0401.20,ທ້າວ,ກີ່,ອິນທິລາດ,1CS2,5.0,50.0,30
11,12,205N0402.20,ນາງ,ຄູນໄພລິນ,ແກ້ວວົງກົດ,1CS2,6.0,40.0,20
12,13,205N0437.20,ທ້າວ,ອໍາພອນ,ຄໍາເພັງໄຊ,1CS1,7.0,40.0,10
13,14,205N0442.19,ນາງ,ມີໂຕ,ແກ້ວແສງປັນ,2CPR1,5.0,39.0,10
14,15,205N0453.20,ທ້າວ,ວຽງເງີນ,ສີພັນດອນ,1CS2,NaN,8.0,10
15,16,205N0458.20,ທ້າວ,ພອນໄຊ,ອິນຄໍາແສງ,1CS2,8.0,29.0,40
16,17,205Q0037.20,ທ້າວ,ຄຳຊົ່ງ,ຫວາຊ້າ,1CS1,4.0,50.0,10
17,18,205Q0057.20,ນາງ,ນູລິຕາ,ສຸພັນທອງ,1CS2,NaN,49.0,10
18,19,205Q0404.20,ທ້າວ,ສຸລິວົງ,ສິດທິວໍລະດາ,1CS2,3.0,NaN,30

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   No         19 non-null     int64
 1   ID         19 non-null     object
 2   gender     19 non-null     object
 3   Name       19 non-null     object
 4   Surname    19 non-null     object
 5   ClassName  19 non-null     object
 6   Attendent  16 non-null     float64
 7   Lecture    17 non-null     float64
 8   Lab        19 non-null     int64
dtypes: float64(2), int64(2), object(5)
memory usage: 1.5+ KB

# 2. ສະແດງແຖວ ແລະ ຖັນ

---

In [ ]:
dataset.shape

(19, 9)

# 3. ສະແດງຊື່ຖັນທັງໝົດອອກມາ


---

In [ ]:
column = list(dataset.columns.values)
print("ຊື່ຖັນມີ",column)

ຊື່ຖັນມີ ['No', 'ID', 'gender', 'Name', 'Surname', 'ClassName', 'Attendent', 'Lecture', 'Lab']

# 4. ປ່ຽນຈາກ ພຣະ ສນ ທ້າວ ເປັນ M ແລະ ນາງ ເປັນ F

---

In [ ]:
dataset.loc[(dataset['gender'] == 'ທ້າວ') | (dataset['gender'] == 'ສນ')  , 'gender'] = 'M'
dataset.loc[(dataset['gender'] == 'ນາງ')  , 'gender'] = 'F'
dataset

,No,ID,gender,Name,Surname,ClassName,Attendent,Lecture,Lab
0,1,205N0165.20,M,ອາເລັກ,ຈັນທະວີສຸກ,1CS1,10.0,50.0,30
1,2,205N0190.20,M,ເກດສະດາ,ພັດທະນາສິນ,1CS2,10.0,50.0,40
2,3,205N0377.20,M,ສົມວິກ,ກິດສະລາດ,1CS2,8.0,40.0,10
3,4,205N0378.20,M,ບຸນຊະນະ,ໄຊຍະວົງ,1CS2,7.0,40.0,10
4,5,205N0381.20,M,ທະວີຊັບ,ສຸວົງສາ,1CS2,6.0,39.0,10
5,6,205N0387.20,M,ສີຫາ,ອິນທະວົງ,1CS2,9.0,8.0,40
6,7,205N0389.20,M,ພູຟ້າ,ໄຊຍະລາດ,1CS2,9.0,29.0,30
7,8,205N0392.20,M,ເລື່ອນ,ວັນນະສານ,1CS2,9.0,50.0,40
8,9,205N0393.20,F,ຕາມົນ,ອິນທະຈັກ,1CS2,9.0,49.0,30
9,10,205N0398.20,M,ແກ້ວວົງເດືອນ,ໄຊຍະສິດ,1CS2,NaN,NaN,40
10,11,205N0401.20,M,ກີ່,ອິນທິລາດ,1CS2,5.0,50.0,30
11,12,205N0402.20,F,ຄູນໄພລິນ,ແກ້ວວົງກົດ,1CS2,6.0,40.0,20
12,13,205N0437.20,M,ອໍາພອນ,ຄໍາເພັງໄຊ,1CS1,7.0,40.0,10
13,14,205N0442.19,F,ມີໂຕ,ແກ້ວແສງປັນ,2CPR1,5.0,39.0,10
14,15,205N0453.20,M,ວຽງເງີນ,ສີພັນດອນ,1CS2,NaN,8.0,10
15,16,205N0458.20,M,ພອນໄຊ,ອິນຄໍາແສງ,1CS2,8.0,29.0,40
16,17,205Q0037.20,M,ຄຳຊົ່ງ,ຫວາຊ້າ,1CS1,4.0,50.0,10
17,18,205Q0057.20,F,ນູລິຕາ,ສຸພັນທອງ,1CS2,NaN,49.0,10
18,19,205Q0404.20,M,ສຸລິວົງ,ສິດທິວໍລະດາ,1CS2,3.0,NaN,30

# 5. ຊອກຫາຖັນທີ່ມີຄ່າວ່າງ

---

In [ ]:
show = np.where(pd.isnull(dataset))
show

(array([ 9,  9, 14, 17, 18]), array([6, 7, 6, 6, 7]))

In [ ]:
sum = dataset.isnull().sum()
sum

No           0
ID           0
gender       0
Name         0
Surname      0
ClassName    0
Attendent    3
Lecture      2
Lab          0
dtype: int64

In [ ]:
dataset.isnull().sum().sum()

5

## 6. ແທນຄ່າວ່າງດ້ວຍ 0

---

In [ ]:
set_zero = dataset.fillna(0)
set_zero

,No,ID,gender,Name,Surname,ClassName,Attendent,Lecture,Lab
0,1,205N0165.20,M,ອາເລັກ,ຈັນທະວີສຸກ,1CS1,10.0,50.0,30
1,2,205N0190.20,M,ເກດສະດາ,ພັດທະນາສິນ,1CS2,10.0,50.0,40
2,3,205N0377.20,M,ສົມວິກ,ກິດສະລາດ,1CS2,8.0,40.0,10
3,4,205N0378.20,M,ບຸນຊະນະ,ໄຊຍະວົງ,1CS2,7.0,40.0,10
4,5,205N0381.20,M,ທະວີຊັບ,ສຸວົງສາ,1CS2,6.0,39.0,10
5,6,205N0387.20,M,ສີຫາ,ອິນທະວົງ,1CS2,9.0,8.0,40
6,7,205N0389.20,M,ພູຟ້າ,ໄຊຍະລາດ,1CS2,9.0,29.0,30
7,8,205N0392.20,M,ເລື່ອນ,ວັນນະສານ,1CS2,9.0,50.0,40
8,9,205N0393.20,F,ຕາມົນ,ອິນທະຈັກ,1CS2,9.0,49.0,30
9,10,205N0398.20,M,ແກ້ວວົງເດືອນ,ໄຊຍະສິດ,1CS2,0.0,0.0,40
10,11,205N0401.20,M,ກີ່,ອິນທິລາດ,1CS2,5.0,50.0,30
11,12,205N0402.20,F,ຄູນໄພລິນ,ແກ້ວວົງກົດ,1CS2,6.0,40.0,20
12,13,205N0437.20,M,ອໍາພອນ,ຄໍາເພັງໄຊ,1CS1,7.0,40.0,10
13,14,205N0442.19,F,ມີໂຕ,ແກ້ວແສງປັນ,2CPR1,5.0,39.0,10
14,15,205N0453.20,M,ວຽງເງີນ,ສີພັນດອນ,1CS2,0.0,8.0,10
15,16,205N0458.20,M,ພອນໄຊ,ອິນຄໍາແສງ,1CS2,8.0,29.0,40
16,17,205Q0037.20,M,ຄຳຊົ່ງ,ຫວາຊ້າ,1CS1,4.0,50.0,10
17,18,205Q0057.20,F,ນູລິຕາ,ສຸພັນທອງ,1CS2,0.0,49.0,10
18,19,205Q0404.20,M,ສຸລິວົງ,ສິດທິວໍລະດາ,1CS2,3.0,0.0,30

# 7. ເພີ່ມຖັນ Total ເຂົ້າ Data Frame ເຊິ່ງໄດ້ມາຈາກການເອົາ 3 ຖັນບວກກັນ

---

# 8. ສະແດງຂໍ້ມູນໃນຕາຕະລາງທັງໝົດ

---

In [ ]:
set_zero['Total'] = set_zero['Attendent'] + set_zero['Lecture'] + set_zero['Lab']
set_zero

,No,ID,gender,Name,Surname,ClassName,Attendent,Lecture,Lab,Total
0,1,205N0165.20,M,ອາເລັກ,ຈັນທະວີສຸກ,1CS1,10.0,50.0,30,90.0
1,2,205N0190.20,M,ເກດສະດາ,ພັດທະນາສິນ,1CS2,10.0,50.0,40,100.0
2,3,205N0377.20,M,ສົມວິກ,ກິດສະລາດ,1CS2,8.0,40.0,10,58.0
3,4,205N0378.20,M,ບຸນຊະນະ,ໄຊຍະວົງ,1CS2,7.0,40.0,10,57.0
4,5,205N0381.20,M,ທະວີຊັບ,ສຸວົງສາ,1CS2,6.0,39.0,10,55.0
5,6,205N0387.20,M,ສີຫາ,ອິນທະວົງ,1CS2,9.0,8.0,40,57.0
6,7,205N0389.20,M,ພູຟ້າ,ໄຊຍະລາດ,1CS2,9.0,29.0,30,68.0
7,8,205N0392.20,M,ເລື່ອນ,ວັນນະສານ,1CS2,9.0,50.0,40,99.0
8,9,205N0393.20,F,ຕາມົນ,ອິນທະຈັກ,1CS2,9.0,49.0,30,88.0
9,10,205N0398.20,M,ແກ້ວວົງເດືອນ,ໄຊຍະສິດ,1CS2,0.0,0.0,40,40.0
10,11,205N0401.20,M,ກີ່,ອິນທິລາດ,1CS2,5.0,50.0,30,85.0
11,12,205N0402.20,F,ຄູນໄພລິນ,ແກ້ວວົງກົດ,1CS2,6.0,40.0,20,66.0
12,13,205N0437.20,M,ອໍາພອນ,ຄໍາເພັງໄຊ,1CS1,7.0,40.0,10,57.0
13,14,205N0442.19,F,ມີໂຕ,ແກ້ວແສງປັນ,2CPR1,5.0,39.0,10,54.0
14,15,205N0453.20,M,ວຽງເງີນ,ສີພັນດອນ,1CS2,0.0,8.0,10,18.0
15,16,205N0458.20,M,ພອນໄຊ,ອິນຄໍາແສງ,1CS2,8.0,29.0,40,77.0
16,17,205Q0037.20,M,ຄຳຊົ່ງ,ຫວາຊ້າ,1CS1,4.0,50.0,10,64.0
17,18,205Q0057.20,F,ນູລິຕາ,ສຸພັນທອງ,1CS2,0.0,49.0,10,59.0
18,19,205Q0404.20,M,ສຸລິວົງ,ສິດທິວໍລະດາ,1CS2,3.0,0.0,30,33.0

# 9. ສະແດງແຖວ ແລະ ຖັນ ໃໝ່

---

In [ ]:
set_zero.shape

(19, 10)

# 10. ເພີ່ມ Grade ຄິດໄລ່ຈາກ Total ເງຶື່ອນໄຂຄະແນນຫຼາຍກ່ວາ 90 ສະແດງ Exellent ຄະແນນຫຼາຍກ່ວາ 70 ສະແດງ Better ຄະແນນຫຼາຍກ່ວາ 50 ສະແດງ Good ຄະແນນຕ່ຳກ່ວາ 50 ສະແດງ Fail   

---

In [ ]:

conditions = [


    (set_zero['Total'] < 50),

    (set_zero['Total'] >= 50) & (set_zero['Total'] < 70),

    (set_zero['Total'] >= 70) & (set_zero['Total'] < 90),

    (set_zero['Total'] >= 90)


]
letters = ['Fail', 'Good', 'Better', 'Excellent']
set_zero['Grade'] = np.select(conditions, letters)
set_zero

,No,ID,gender,Name,Surname,ClassName,Attendent,Lecture,Lab,Total,Grade
0,1,205N0165.20,M,ອາເລັກ,ຈັນທະວີສຸກ,1CS1,10.0,50.0,30,90.0,Excellent
1,2,205N0190.20,M,ເກດສະດາ,ພັດທະນາສິນ,1CS2,10.0,50.0,40,100.0,Excellent
2,3,205N0377.20,M,ສົມວິກ,ກິດສະລາດ,1CS2,8.0,40.0,10,58.0,Good
3,4,205N0378.20,M,ບຸນຊະນະ,ໄຊຍະວົງ,1CS2,7.0,40.0,10,57.0,Good
4,5,205N0381.20,M,ທະວີຊັບ,ສຸວົງສາ,1CS2,6.0,39.0,10,55.0,Good
5,6,205N0387.20,M,ສີຫາ,ອິນທະວົງ,1CS2,9.0,8.0,40,57.0,Good
6,7,205N0389.20,M,ພູຟ້າ,ໄຊຍະລາດ,1CS2,9.0,29.0,30,68.0,Good
7,8,205N0392.20,M,ເລື່ອນ,ວັນນະສານ,1CS2,9.0,50.0,40,99.0,Excellent
8,9,205N0393.20,F,ຕາມົນ,ອິນທະຈັກ,1CS2,9.0,49.0,30,88.0,Better
9,10,205N0398.20,M,ແກ້ວວົງເດືອນ,ໄຊຍະສິດ,1CS2,0.0,0.0,40,40.0,Fail
10,11,205N0401.20,M,ກີ່,ອິນທິລາດ,1CS2,5.0,50.0,30,85.0,Better
11,12,205N0402.20,F,ຄູນໄພລິນ,ແກ້ວວົງກົດ,1CS2,6.0,40.0,20,66.0,Good
12,13,205N0437.20,M,ອໍາພອນ,ຄໍາເພັງໄຊ,1CS1,7.0,40.0,10,57.0,Good
13,14,205N0442.19,F,ມີໂຕ,ແກ້ວແສງປັນ,2CPR1,5.0,39.0,10,54.0,Good
14,15,205N0453.20,M,ວຽງເງີນ,ສີພັນດອນ,1CS2,0.0,8.0,10,18.0,Fail
15,16,205N0458.20,M,ພອນໄຊ,ອິນຄໍາແສງ,1CS2,8.0,29.0,40,77.0,Better
16,17,205Q0037.20,M,ຄຳຊົ່ງ,ຫວາຊ້າ,1CS1,4.0,50.0,10,64.0,Good
17,18,205Q0057.20,F,ນູລິຕາ,ສຸພັນທອງ,1CS2,0.0,49.0,10,59.0,Good
18,19,205Q0404.20,M,ສຸລິວົງ,ສິດທິວໍລະດາ,1CS2,3.0,0.0,30,33.0,Fail

# 10. ສະແດງຊື່ທີ່ໄດ້ Exellent

---

In [ ]:
set_zero.loc[set_zero['Grade'] == "Excellent", 'Name']

0     ອາເລັກ
1    ເກດສະດາ
7     ເລື່ອນ
Name: Name, dtype: object

# 11. ສະແດງເພດຍິງທີ່ໄດ້ Lecture ຫຼາຍກວ່າ 10

---

In [ ]:
set_zero.loc[(set_zero['Lecture'] > 10) & (set_zero['gender'] == 'F')  , 'Name']

8        ຕາມົນ
11    ຄູນໄພລິນ
13        ມີໂຕ
17      ນູລິຕາ
Name: Name, dtype: object